<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div id="main" class="container main">
      {{ content }}
    </div>
    
    <div id="top" data-toggle="tooltip" data-placement="left" title="回到頂部">
      <a href="javascript:;">
        <div class="arrow"></div>
        <div class="stick"></div>
      </a>
    </div>

    {% include footer.html %}

    <!-- Disqus -->    
    <script type="text/javascript">
        var disqus_shortname = 'clark159';
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>

    <!-- 在新視窗打開連結 -->
    <script type="text/javascript">
      function addBlankTargetForLinks () {
        $('a[href^="http"]').each(function(){
            $(this).attr('target', '_blank');
        });
      }

      $(document).bind('DOMNodeInserted', function(event) {
        addBlankTargetForLinks();
      });      
    </script>

  </body>
</html>
